# Entire repository
* @sanyawadhawan

# Backend
/backend/ @sanyawadhawan

# Frontend
/frontend/ @sanyawadhawan

# Infrastructure
/infra/ @sanyawadhawan

# Security
/security/ @sanyawadhawan

# Documentation
/docs/ @sanyawadhawan